<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>

  <div class="cursor-follower" style="width: 8px; height: 8px;"></div>

    <script>const cursorFollower = document.querySelector('.cursor-follower');

        document.addEventListener('mousemove', (e) => {
            const { clientX, clientY } = e;
            const mouseX = clientX - cursorFollower.clientWidth / 2;
            const mouseY = clientY - cursorFollower.clientHeight / 2;
            cursorFollower.style.transform = `translate(${mouseX}px, ${mouseY}px)`;
        });
        
        document.addEventListener('mouseover', (e) => {
            cursorFollower.classList.remove('hidden');
        });
        
        document.addEventListener('mouseout', (e) => {
            cursorFollower.classList.add('hidden');
        });
        </script>

        
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="/images/circle logo.png" alt="pin logo" class="img1" />
      <p class="header">Login To Your Existing Account</p>
      <br>
      <form action="/login" method="post">

      <input type="text" name="username" placeholder="User Name" class="detail" /><br />
      <input type="password" name="password" placeholder="Password" class="detail" />
      <br>
      <br>
      
      <input id="button" type="submit" class="btn int" value="Login">

      </form>

      <footer>
        <a href="/">New User On Agri Connect? Sign Up</a>
      </footer>
    </div>
  </div>

</body>

</html>